#wrapper {
  width: 800px;
}

div#heading h1, 
div#heading h2,
div#heading h3,
div#heading address {
	margin: 0 auto;
}

h4 {
	margin-top:0;
	margin-bottom:0;
}
h1,h2,h3 {
	margin-bottom:0;
}
p {
	margin-top:0;
}
span.att-name, dt {
	font-weight:bold;
}
span.att-value,
dl.profile dd dl dt {
	font-family: monospace;
	font-weight:bold;
	font-size:larger;
}
span.att-meaning,
dl.profile dd dl dd {
	font-style:italic;
}
div#feedback {
  border:1px solid black;
  padding: .3em;
  background-color:#e3e3e3;
  color:red;
}
div#commentsx h2 {
  margin-top:0;
}
div#email-group {
  border: 1px solid black;
  margin: .5em auto;
  padding:.3em;
  background-color:white;
  color: black;
}
div#email-group h3 {
  margin-top:0;
}
div#email-group p {
  margin-bottom:0;
}
span.accepted {
  color:white;
  background-color:green;
  padding: .1em;
  font-size:small;
}
dd ul {
  margin-top:0;
	margin-bottom:.5em;
}
.draft {
  font-weight:bold;
  color:red;
}
.stable {
  font-weight:bold;
  color:green;
}
blockquote {
  border:1px solid black;
  color:black;
  background-color:#e3e3e3;
  padding: .3em;
}
blockquote p {
  margin:.2em;
}
div#ads {
  margin-bottom:1em;
}

div#quote {
  width:700px;
  border:1px solid black;
  color:black;
  background-color:#e3e3e3;
  font-style:italic;
  margin:auto;
  padding: .3em;
}
div#quote p {
  margin-bottom:0;
  padding:.2em;
}
div#footer {
  text-align:center;
}
div#footer p {
	margin:0;
	padding:.3em;
}

ul.list { list-style: none; margin: 0; padding: 0; }
ul.list li { display: inline; }
ul.list li:after { content: ","; } 
ul.list li:last-child:after { content: ""; }

body {
	margin: 2em 1em 2em 70px;
	font-family: sans-serif;
	color: black;
	background: white;
	background-position: top left;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
a:link { color: #00C; background: transparent }
a:visited { color: #609; background: transparent }
a:active { color: #C00; background: transparent }

th, td { /* ns 4 */
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 { text-align: left }
h1, h2, h3 { color: #005A9C; background: white }
h1 { font: 170% sans-serif }
h2 { font: 140% sans-serif }
h3 { font: 120% sans-serif }
h4 { font: bold 100% sans-serif }
h5 { font: italic 100% sans-serif }
h6 { font: small-caps 100% sans-serif }

.hide { display: none }

div.head { margin-bottom: 1em }
div.head h1 { margin-top: 2em; clear: both }
div.head table { margin-left: 2em; margin-top: 2em }
div.head img { color: white; border: none } /* remove border from top image */

@media screen {  /* hide from IE3 */
a:hover { background: #ffa } 
}


pre { margin-left: 2em }
dt, dd { margin-top: 0; margin-bottom: 0 } /* opera 3.50 */
dt { font-weight: bold }

pre, code { font-family: monospace } /* navigator 4 requires this */

ul.toc {
	list-style: disc;		/* Mac NS has problem with 'none' */
	list-style: none;
}

@media aural {  
	h1, h2, h3 { stress: 20; richness: 90 }
	.hide { speak: none }
	p.copyright { volume: x-soft; speech-rate: x-fast }
	dt { pause-before: 20% }
	pre { speak-punctuation: code } 
}

code  { font-family: monospace; }
div.constraint, div.issue, div.note, div.notice { margin-left: 2em; }
dt.label { display: run-in; }
li p     { margin-top: 0.3em; margin-bottom: 0.3em; }

pre { font-family: monospace;
			border-style: ridge; 
			padding: 20px;
			background: #99ffff; 
			margin-left: 2em;
}